{% load static %}

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #324047;">
				  <a class="navbar-brand" href="#">
				  	<img src='{% static "img/save-water.svg" %}' width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
				  	Knowleak</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarText">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Features</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Contributions</a>
				      </li>
				    </ul>
				    <form class="form-inline">
					    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</div>