{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Reports {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="menu">
	<div class="container">
		<div class="row">
			<div class ="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav class="nav nav-tabs nav-fill">
				  <a class="nav-link" href="/">Dashboard</a>
				  <a class="nav-link active" href="/reports/">Reports</a>
				  <a class="nav-link" href="/notifications/">Notifications</a>
				  <a class="nav-link" href="/profile/">User Profile</a>
				  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Settings</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<br>
<div class="data-table">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
				    <div class="card-body">
				      <h5 class="card-title">Data Table of Sensor Readings:</h5>
				      <table class="table mb-0 text-center">
	                  <thead class="bg-light">
	                    <tr>
	                      <th scope="col" class="border-0">Date</th>
	                      <th scope="col" class="border-0">Pressure (mBar)</th>
	                      <th scope="col" class="border-0">Flowrate (cm<sup>3</sup>/min)</th>
	                      <th scope="col" class="border-0">Timestamp</th>
	                      <th scope="col" class="border-0">Probability</th>
	                      <th scope="col" class="border-0">Detection</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                  	{% for reading in object_list %}
	                  	<tr>
	                        <td>{{ reading.date }}</td>
	                        <td>{{ reading.pressure }}</td>
	                        <td>{{ reading.flowrate }}</td>
	                        <td>{{ reading.timestamp }}</td>
	                        <td>{{ reading.probability }}</td>
	                        <td>{{ reading.detection }}</td>
	                    </tr>
	                    {% endfor %}
	                  </tbody>
	                </table>
				    </div>
				    
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}